version: '3.8'

services:
  qip-chat:
    container_name: qip-chat
    image: ghcr.io/prb-naoby/rpj-qip-chat:latest
    ports:
      - "8505:8505"
    volumes:
      - qip_data:/app/data
    env_file:
      - .env
    restart: unless-stopped
    environment:
      - PYTHONUNBUFFERED=1
      - TZ=Asia/Jakarta

volumes:
  qip_data:
